@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<div id="container">
    <div id="results">
        <h1>Menu</h1>

        <h2>Combos</h2>
        @foreach (DinoDiner.Menu.IMenuItem item in Model.MenuItems)
        {
            if (item.Category == "Combo")
            {
                <div class="menu-item">
                    <h3>
                        @item.ToString()
                    </h3>
                   <table style="width: 50px">
                       <tr>
                           <th>Size</th>
                           <th>Price</th>
                           <th>Calories</th>
                       </tr>
                       <tr>
                           <th>Small</th>
                           <th>@String.Format("{0:N2}", @item.Price)</th>
                           <th>@item.Calories</th>
                       </tr>
                       <tr>
                           @if (item is DinoDiner.Menu.CretaceousCombo mediumItem)
                           {
                               mediumItem.Size = DinoDiner.Menu.Size.Medium;
                           }
                           <th>Medium</th>
                           <th>@String.Format("{0:N2}", @item.Price)</th>
                           <th>@item.Calories</th>
                       </tr>
                       <tr>
                           @if (item is DinoDiner.Menu.CretaceousCombo largeItem)
                           {
                               largeItem.Size = DinoDiner.Menu.Size.Large;
                           }
                            <th>Large</th>
                           <th>@String.Format("{0:N2}", @item.Price)</th>
                           <th>@item.Calories</th>
                       </tr>
                   </table>
                    <b>Ingredients: </b><br />
                    @foreach (string ingredient in item.Ingredients)
                    {
                        @ingredient<br />
                    }
                </div>
            }
        }
        <h2>Entrees</h2>
        @foreach (DinoDiner.Menu.IMenuItem item in Model.MenuItems)
        {
            if (item.Category == "Entree")
            {
                <div class="menu-item">
                    <h3>
                        @item.ToString()
                    </h3>
                    <b>Caloris: </b>
                    @item.Calories<br />
                    <b>Price: </b>
                    @String.Format("{0:N2}", @item.Price)<br />
                    <b>Ingredients: </b><br />
                    @foreach (string ingredient in item.Ingredients)
                    {
                        @ingredient<br />
                    }
                </div>
            }
        }

        <h2>Drinks</h2>
        @foreach (DinoDiner.Menu.IMenuItem item in Model.MenuItems)
        {
            if (item.Category == "Drink")
            {
                <div class="menu-item">
                    <h3>
                        @item.ToString()
                    </h3>
                    <table style="width: 50px">
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <th>Small</th>
                            <th>@String.Format("{0:N2}", @item.Price)</th>
                            <th>@item.Calories</th>
                        </tr>
                        <tr>
                            @if (item is DinoDiner.Menu.Drinks.Drink mediumItem)
                            {
                                mediumItem.Size = DinoDiner.Menu.Size.Medium;
                            }
                            <th>Medium</th>
                            <th>@String.Format("{0:N2}", @item.Price)</th>
                            <th>@item.Calories</th>
                        </tr>
                        <tr>
                            @if (item is DinoDiner.Menu.Drinks.Drink largeItem)
                            {
                                largeItem.Size = DinoDiner.Menu.Size.Large;
                            }
                            <th>Large</th>
                            <th>@String.Format("{0:N2}", @item.Price)</th>
                            <th>@item.Calories</th>
                        </tr>
                    </table>
                    <b>Ingredients: </b><br />
                    @foreach (string ingredient in item.Ingredients)
                    {
                        @ingredient<br />
                    }
                </div>
            }
        }

        <h2>Sides</h2>
        @foreach (DinoDiner.Menu.IMenuItem item in Model.MenuItems)
         {
            if (item.Category == "Side")
            {
                <div class="menu-item">
                    <h3>
                        @item.ToString()
                    </h3>
                    <table style="width: 50px">
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <th>Small</th>
                            <th>@String.Format("{0:N2}", @item.Price)</th>
                            <th>@item.Calories</th>
                        </tr>
                        <tr>
                            @if (item is DinoDiner.Menu.Sides.Side mediumItem)
                            {
                                mediumItem.Size = DinoDiner.Menu.Size.Medium;

                            }
                            <th>Medium</th>
                            <th>@String.Format("{0:N2}", @item.Price)</th>
                            <th>@item.Calories</th>
                        </tr>
                        <tr>
                            @if (item is DinoDiner.Menu.Sides.Side largeItem)
                            {
                                largeItem.Size = DinoDiner.Menu.Size.Large;
                            }
                            <th>Large</th>
                            <th>@String.Format("{0:N2}", @item.Price)</th>
                            <th>@item.Calories</th>
                        </tr>
                    </table>
                    <b>Ingredients: </b><br />
                    @foreach (string ingredient in item.Ingredients)
                    {
                        @ingredient<br />
                    }
                </div>
            }
         }
    </div>

    <form method="post">
        <input type="text" name="search" id="search" value="@Model.Search"/>
        <input type="submit" value="Search and Filter"/>

        <h3>Menu Category</h3>
        <div class="checkbox-list">
            <label>
                <input type="checkbox" name="Category" value="Combo" checked="@Model.Category.Contains("Combo")" />
                Combo
            </label>
            <label>
                <input type="checkbox" name="Category" value="Entree" checked="@Model.Category.Contains("Entree")" />
                Entree
            </label>
            <label>
                <input type="checkbox" name="Category" value="Side" checked="@Model.Category.Contains("Side")" />
                Side
            </label>
            <label>
                <input type="checkbox" name="Category" value="Drink" checked="@Model.Category.Contains("Drink")" />
                Drink
            </label>

            <h3>Price</h3>
            <label>
                Min:
                <input type="number" min="0" max="15" step="0.50" name="MinPrice" value="@Model.MinPrice"/>
            </label>
            <label>
                Max:
                <input type="number" min="0" max="15" step="0.50" name="MaxPrice" value="@Model.MaxPrice"/>
            </label>

            <h3>Excluding Ingredients</h3>
            @foreach (string ingredient in @Model.Ingredients)
            {
                <label>
                    <input type="checkbox" name="excludeIngredients" value="@ingredient" checked="@Model.ExcludeIngredients.Contains(@ingredient)"/>
                    @ingredient
                </label>
            }
        </div>
    </form>
</div>

